
body {
    padding-top:50px;
    /*background-color: #F2F2F2;*/
    color: #555;
}

#header {
    min-height:250px;
    background: #34495E;
    color: white;
}

#header h1 {
    font-size: 80px;
    line-height: 1;
    padding-top:20px;
}



.affix-top,.affix{
    position: static;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top:30px;
        width:228px;
    }

    #sidebar.affix {
        position: fixed;
        top:70px;
        width:228px;
    }
}

/*#sidebar li.active {
    border:0 #eee solid;
    border-right-width:5px;
}*/


#rulebookWrap {
    background: #4D4D4D;
}

#rightCol {
    background: white;
    padding-left: 50px;
}

#bookcontent h1,
#bookcontent h2,
#bookcontent h3 {
    font-weight : 700;
}

span.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.control-add {
    color: #999;
}

.control-add:hover {
    cursor: pointer;
    color : #555;
    text-decoration: underline;
}

div[colorpicker] {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid lightgrey;
}

rb-turn .list-group-item {
    border: none;
}

.rb-token .list-group-item {
    border: none;
    padding-top: 0px;
    padding-left: 20px;
}

/*
    Inputs
    Material design inspired
*/

.form-control {
    border: medium none;
    border-radius: 0px;
    box-shadow: 0px -1px 0px #DDD inset;

    -webkit-transition: padding-left 150ms linear;
    transition: padding-left 150ms linear;
}

.form-control:hover {
    box-shadow: 0px -2px 0px #BBB inset;
}

.form-control:hover,
.form-control:focus {
    padding-left: 20px;
}

.form-control:focus {
    box-shadow: 0px -2px 0px #2196F3 inset;
}

textarea.form-control {
    padding: 0px;
}

textarea.form-control:hover,
textarea.form-control:focus {
    padding-left: 10px;
}

input[type="range"],
input[type="range"]:hover,
input[type="range"]:focus {
    box-shadow: 0px 0px 0px #BBB inset;
}

.small-input.form-control {
    width: 130px;
}

/*.no-scrollbar {
    overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {display:none;}
.no-scrollbar::-moz-scrollbar {display:none;}
.no-scrollbar::-o-scrollbar {display:none;}
.no-scrollbar::-google-ms-scrollbar {display:none;}
.no-scrollbar::-khtml-scrollbar {display:none;}*/

/* Game window*/

.rb-game-window {
    margin:0px;
}

.rb-game-window .cell {
    height:100%;
    padding:1px;
}

.master-col {
    padding:0px;
}


rb-goal .conditions-container {
    margin-top: 20px;
}

#players-number-section #players-number-edit {
    visibility: hidden;
    font-size: 15px;
}

#players-number-section input {
    width: 80px;
}

#players-number-section:hover #players-number-edit {
    visibility: visible;
}
