/*svg {
    background: #002;
}*/

body {
 padding-top:50px;
 /*background-color: #F2F2F2;*/
 color: #555;
}

.centered {
    text-align: center;
}

.clickable:hover {
    cursor: pointer;
}

.product-name {
    font-family: "Raleway";
}

#title h1 {
    font-size: 100px;
}

#title h2 {
    margin-top: 0;
}

/*
    Generic
*/

.show-on-hover .close {
    visibility: hidden;
}

.show-on-hover:hover .close {
    visibility: visible;
}

/*
    Games list
*/

.game-item p {
    margin: 0px 0px 0px;
    font-size:20px;
    /*color: #555;*/
}

.game-item .game-name{
}

.game-item .nav-icon {
    font-size:25px;
    /*color: #555;*/
    padding: 0px 10px;
    visibility: hidden;
}

.game-item .nav-icon:hover {
    font-size:30px;
    cursor : pointer;
    /*color: #5A5;*/
}

.game-item .close {
    position: absolute;
    margin-top: -15px;
    right: 0px;
}

.game-item:hover .nav-icon {
    visibility: visible;
}

.tile {
    /*fill:white;stroke:lightgrey;stroke-width:1;opacity:1;*/

    fill:inherit;
    /*stroke:darkblue;*/

    /*fill:lightgrey;stroke:black;*/

    stroke-width:1;
    /*fill:linear-gradient(60deg, white, black);*/

    -webkit-transition: fill 250ms linear;
    transition: fill 250ms linear;

}

.tile, .corner, .border {
    /*stroke : #002; fill : #333; stroke-width : 10;*/
    stroke : #444;
}

.tile:hover {
    /*stroke-width:3;*/
    /*stroke : white;*/
/*    -webkit-transition: fill 250 linear;
    transition: fill 250ms linear;*/
    fill : #003;
    opacity : 1;
}

.corner:hover,
.border:hover {
    opacity:1;
    fill : #003;

    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}

.corner {
    fill:#002;
    /*stroke:darkblue;*/
    stroke-width:2;
    opacity: 0;
}

.corner:hover {
    stroke-width:1;
}

.border {
    stroke-width : 10;
    /*stroke:darkblue;*/
    opacity: 0;
    stroke-linecap:round;
}

.border.selected {
    stroke : pink;
}

.selected {
    opacity: 1;
    fill : #004;
}

.highlight {
    opacity: 1;
    fill : lightgreen;
    /*-webkit-transition: none;
    transition: none;*/
}


.tile.highlight:hover {
    fill : #BFB;
}

.border.highlight {
    stroke-width : 6;
    stroke:lightgreen;
}



.token {
    stroke-width : 3;
    stroke:black;
    fill:white;
}



.elem-selector {
    stroke-width : 20;
    stroke : green;
    fill-opacity : 0;
    stroke-opacity : 0.5;
}




.game-window {
    /*background: black;*/
    /*color: blue;*/
    border: solid;
    border-width: 1px;
}


#game-view  {
    border: solid 1px lightgrey;
    background: #002;
}

#message-box {
    margin-bottom: 10px;

}

#message-box .game-window {
    padding-left: 10px;
    padding-top: 10px;
}

.tooltip-inner, .tooltip-arrow {
    background: #002;
    /*border: solid white;*/
}

#game-view .list-group-item {
    /*background: #002;*/
    background: inherit;
    border: solid;
    border-width: 1px;
    /*border-corner-shape: bevel; */
}


#game-view .list-inline {
    margin-bottom: 0;
}

#game-view button {
    /*background: #002;*/
    background: inherit;
    border: solid 3px;
}

#game-view button,
#game-view .list-group-item,
#game-view .clickable-item svg {
    -webkit-transition: background 250 linear;
    transition: background 250ms linear;
}

#game-view button:hover,
#game-view .list-group-item:hover,
#game-view .clickable-item:hover svg {
    background: #003;
}

#game-view hr {
    /*color: #113;*/
    border: solid 1px #333;
}

#game-view .selected {
    background: #001;
}
/*#game-view {
    border-color: #AAA!important;
}*/


#game-view .turnphase-indicator {
    stroke : #333;
    stroke-width : 2;
    fill-opacity : 0;
    fill : #003;
}


#game-view .turnphase-indicator.current {
    fill-opacity : 1;
}

#game-view #next-turn-control {
    font-size:25px;
}

#game-view #next-turn-control:hover {
    cursor: pointer;
    font-size: 30px;
}

.game-menu {
    position:absolute;
    height:10%;
    width:80%;
    top:30%;
    left:10%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;

    -webkit-transition: left 600 ease;
    transition: left 600ms ease;
}

.game-menu.out {
    left:-300%;
}

.game-menu svg text {
    text-anchor : middle;
     /*font-family:Verdana;*/
    font-size: 50px;
    fill:lightgrey;
}

#turn-info {
    top: 20%;

    -webkit-transition: left 400 ease;
    transition: left 400ms ease;
}


/* GAMEOVER WINDOW */

#gameover-window {
    position:absolute;
    height:100%;

    background-color:  rgba(0, 0, 0, 0);

    border: none;
    text-align: center;

    color: black;
    font-family: "Raleway";
    /*font-family: "Comic Sans";*/

    visibility: hidden;

    -webkit-transition: visibility 300 linear;
    transition: visibility 300ms linear;
}


#gameover-text {
    text-anchor : middle;
     /*font-family:Verdana;*/
    font-size: 100px;
    font-weight: 900;
    fill:green;
    stroke-width:4;
    stroke : lightgrey;
    /*letter-spacing:1em; */
    /*kerning:40px;*/

    margin-bottom: 80px;
    margin-top: -500px;

    -webkit-transition: margin-top 500 linear;
    transition: margin-top 500ms linear;
}

#gameover-window.lose #gameover-text {
    fill:red;
}

#gameover-window.active #gameover-text {
    margin-top: 100px;
}


#gameover-window .glyphicon {
    font-size: 80px;
    font-weight: 900;
    color: lightgrey;

    text-shadow: 0 0 6px black;

    -webkit-transition: font-size 150 linear;
    transition: font-size 150ms linear;
}

#gameover-window .glyphicon:hover {
    font-size: 90px;
    cursor: pointer;
}

#gameover-window.active {
    visibility: visible;
    background-color:  rgba(0, 0, 0, 0.5);
}


div {
    -webkit-transition: width 350 ease;
    transition: width 350ms ease;
}
