/*svg {
    background: #002;
}*/

body {
     padding-top:50px;
     /*background-color: #F2F2F2;*/
     color: #555;
     font-family: 'Neucha', cursive;
}

.centered {
    text-align: center;
}

.clickable:hover {
    cursor: pointer;
}

.product-name {
    font-family:'Neucha', cursive;
}

#title h1 {
    font-size: 100px;
}

#title h2 {
    margin-top: 0;
}

/*
    Generic
*/

.show-on-hover > ri-remove-button {
    visibility: hidden;
}

.show-on-hover:hover > ri-remove-button {
    visibility: visible;
}

/*
    Games list
*/

.game-item p {
    margin: 0px 0px 0px;
    font-size:20px;
    /*color: #555;*/
}

.game-item .game-name{
}

.game-item .nav-icon {
    font-size:25px;
    /*color: #555;*/
    padding: 0px 10px;
    visibility: hidden;
}

.game-item .nav-icon:hover {
    font-size:30px;
    cursor : pointer;
    /*color: #5A5;*/
}

.game-item .close {
    position: absolute;
    margin-top: -15px;
    right: 0px;
}

.game-item:hover .nav-icon {
    visibility: visible;
}

.tile {

    fill:inherit;

    stroke-width:1;

    -webkit-transition: fill 250ms linear;
    transition: fill 250ms linear;

    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.tile, .corner, .border {
    stroke : #444;
}

.tile:hover {

}

.corner:hover,
.border:hover {
    opacity:0.8;
    fill : #444;

    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}

.corner {
    stroke-width:0;
    opacity: 0;
    fill : #444;
}

.border {
    stroke-width : 10;
    opacity: 0;
    stroke-linecap:round;
}

.hexa-grid .border {
    stroke-width : 16;
}


.selected {
    opacity: 1;
}

.highlight {
    opacity: 1;
    fill : lightgreen;
    /*filter : url(#lighterPulseFilter);*/
}


.tile.highlight {
    opacity: 1;
}

.border.highlight {
    stroke:lightgreen;
}

#game-view.highlighting ri-board .tile:not(.highlight) {
    opacity: 0.2;
}

.token {
    stroke-width : 3;
    stroke:black;
    fill:white;
}



.elem-selector {
    stroke-width : 20;
    stroke : green;
    fill-opacity : 0;
    stroke-opacity : 0.5;
}




.game-window {
    /*background: black;*/
    /*color: blue;*/
    border: solid;
    border-width: 1px;
}


#game-view  {
    border: solid 1px lightgrey;
    background: #002;
}

#message-box {
    margin-bottom: 10px;

}

#message-box .game-window {
    padding-left: 10px;
    padding-top: 10px;
}

.tooltip-inner, .tooltip-arrow {
    background: #002;
    /*border: solid white;*/
}

#game-view .list-group-item {
    /*background: #002;*/
    background: inherit;
    border: solid;
    border-width: 1px;
    /*border-corner-shape: bevel; */
}


#game-view .list-inline {
    margin-bottom: 0;
}

#game-view button {
    /*background: #002;*/
    background: inherit;
    border: solid 3px;
}

#game-view button,
#game-view .list-group-item,
#game-view .clickable-item svg {
    -webkit-transition: background 250 linear;
    transition: background 250ms linear;
}

#game-view button:hover,
#game-view .list-group-item:not(.disabled):hover,
#game-view .clickable-item:hover svg {
    background: #FFF;
    font-weight: bold;
    cursor : pointer;
}

#game-view .list-group-item.disabled {
    background: #222;
    color: #444;
}

#game-view hr {
    /*color: #113;*/
    border: solid 1px #333;
}

#game-view .selected {
    background: #FFF;
    font-weight: bold;
    border: solid 2px;
}
/*#game-view {
    border-color: #AAA!important;
}*/


#game-view .turnphase-indicator {
    stroke : #333;
    stroke-width : 2;
    fill-opacity : 0;
    fill : #003;
}


#game-view .turnphase-indicator.current {
    fill-opacity : 1;
}

#game-view #next-turn-control {
    font-size:25px;
}

#game-view #next-turn-control:hover {
    cursor: pointer;
    font-size: 30px;
}

.gameinfo-slide {
    position:absolute;
    height:10%;
    width:80%;
    top:30%;
    left:10%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;

    -webkit-transition: left 600 ease;
    transition: left 600ms ease;
}

.gameinfo-slide.out {
    left:-300%;
}

.gameinfo-slide svg text {
    text-anchor : middle;
     /*font-family:Verdana;*/
    font-size: 50px;
    fill:lightgrey;
}

#turn-info {
    top: 20%;

    -webkit-transition: left 400 ease;
    transition: left 400ms ease;
}


/* PLAYER AND GAME OVER WINDOW */

.game-menu {
    position:absolute;
    height:100%;

    background-color:  rgba(0, 0, 0, 0);

    border: none;
    text-align: center;

    color: black;

    visibility: hidden;

    -webkit-transition: visibility 300 linear;
    transition: visibility 300ms linear;
}

.game-menu.active {
    visibility: visible;
    background-color:  rgba(0, 0, 0, 0.5);
}

.game-menu-text {
    text-anchor : middle;
     /*font-family:Verdana;*/
    font-size: 100px;
    font-weight: 900;
    fill:black;
    stroke-width:4;
    stroke : lightgrey;
    /*letter-spacing:1em; */
    /*kerning:40px;*/

    margin-top: -500px;

    -webkit-transition: margin-top 300 linear;
    transition: margin-top 300ms linear;
}

#player-over-window.lose .game-menu-text {
    fill:red;
}

#player-over-window.win .game-menu-text {
    fill:green;
}

.game-menu.active .game-menu-text {
    margin-top: 100px;
}

.game-menu .icon .glyphicon {
    margin-top: 50px;

    font-size: 80px;
    font-weight: 900;
    color: lightgrey;

    text-shadow: 0 0 6px black;

    -webkit-transition: font-size 150 linear;
    transition: font-size 150ms linear;
}

.game-menu .icon .glyphicon:hover {
    font-size: 90px;
    cursor: pointer;
}

#game-over-window .game-menu-text {
    font-size: 80px;
    font-weight: 900;
    stroke-width:1;
    stroke:black;
    fill:lightgrey;
}

#game-over-window #players-result {
    font-size: 40px;
    font-weight: 900;
}

#game-over-window #players-result .glyphicon {
    color: lightgrey;
}

div {
    -webkit-transition: width 350 ease;
    transition: width 350ms ease;
}

.transac .over {
    color : red;
}
