<div class="list-group">
    <a ng-repeat="game in games | filter:{source:source}"
       class="list-group-item game-item show-on-hover clearfix">

       <div ng-if="game.meta.thumb" class="pull-left" style="padding-right:10px">
            <img
                height="100px"
                ng-attr-src="https://gist.githubusercontent.com/t0rtue/{{game.id}}/raw/{{game.meta.thumb}}/thumbnail.png">
            </img>
       </div>

        <p>
            <span class="game-name">{{game.name}}</span>

            <ri-remove-button ng-if="canRemove" ng-click="remove({name:game.name})"></ri-remove-button>

            <span ui-sref="game.menu({name:game.name})" title="play" class="pull-right glyphicon glyphicon-play nav-icon" ></span>
            <span ui-sref="game.rb({name:game.name})" title="rulebook" class="pull-right glyphicon glyphicon-cog nav-icon" ></span>
        </p>

        <br/>

        <div>
            <span ng-if="game.meta.players" class="glyphicon glyphicon-user" title="players"></span> {{game.meta.players}}

            <span ng-if="game.meta.time" class="glyphicon glyphicon-time" title="time" style="margin-left: 15px"></span> {{game.meta.time}}
        </div>

    </a>
</div>