<!--
    All the view of the game edit state
 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1 class="product-name"><b ui-sref='main' class="clickable">Rulit</b></h1>
        </div>
        <div class="col-md-9 clearfix">
            <div class="pull-right btn-group">
                <button  type="button" class="btn btn-default" ng-click="rulit.layout.mode=1">|_|__|</button>
                <button  type="button" class="btn btn-default" ng-click="rulit.layout.mode=2">|__|_|</button>
                <button  type="button" class="btn btn-default" ng-click="rulit.layout.mode=3">|____|</button>
            </div>
        </div>
    </div>

    <div ng-controller="ri.game.controller as game" class="row">

        <div
            id="game-view"
            class="col-md-{{rulit.layout.mode*4}}"
            ng-style="{'background':game.theme.background, 'fill':game.theme.background}"
            ng-include="'partials/gamewindow/gamelayout.html'">
        </div>

        <div
            id="rule-window"
            class="col-md-{{12 - rulit.layout.mode*4}}"
            ng-include="'partials/rulebook/rulebook.html'">
        </div>

    </div>
</div>