<div class="list-group">
    <a ng-repeat="game in games | filter:{source:source}"
       class="list-group-item game-item show-on-hover">
        <p>
            <span class="game-name">{{game.name}}</span>

            <ri-remove-button ng-if="canRemove" ng-click="remove({name:game.name})"></ri-remove-button>

            <span ui-sref="game.play({name:game.name})" title="play" class="pull-right glyphicon glyphicon-play nav-icon" ></span>
            <span ui-sref="game.rb({name:game.name})" title="edit rules" class="pull-right glyphicon glyphicon-cog nav-icon" ></span>
        </p>

        <br/>

        <div>
            <span class="glyphicon glyphicon-user" title="players"></span> 1
            <span ng-if="game.meta.time" class="glyphicon glyphicon-time" title="time"></span> {{game.meta.time}}
        </div>
    </a>
</div>