<div>

<div class="container" id="game-view"
     ng-style="{'background':game.theme.background, 'fill':game.theme.background, 'color':game.theme.color}"
     ng-class="{'highlighting':game.highlighting}">

    <div class="row">
        <div class="col-md-2" ng-if="rulit.layout.mode != 1">
            <div class="row">
                <ng-include src="'module/game/partials/player.html'"/>
            </div>
            <div class="row game-window">
                <div ng-if="game.selectedElem.token">
                    <ri-token-window elem="game.selectedElem"></ri-token-window>
                    <!-- <div
                        ng-repeat="action in game.actions.all | tokenActions:game.selectedElem.token"
                        ng-click="game.selectAction(action)"
                        class="action"
                        ng-class="{selected:action.selected}"
                        >
                        <span class="glyphicon glyphicon-save"></span> {{action.name}}
                    </div> -->
                    <ul class="list-group">
                        <li ng-repeat="action in game.turnPhases[game.state.currentPhaseIdx].actions | tokenActions:game.selectedElem.token"
                            ng-click="game.selectAction(action)"
                            class="list-group-item"
                            ng-class="{selected:action.selected}"
                            >
                            <span class="action" >{{action.name}}</span>
                            <!-- <span class="action" >{{action.desc}}</span> -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row game-window" ng-if="game.selectedElem != game.overedElem">
                <ri-token-window elem="game.overedElem"></ri-token-window>
            </div>
        </div>
        <div  class="col-md-{{rulit.layout.mode == 1 ? 12 : 8}}">
            <div style="text-align:center">
                <ul class="list-group list-inline">
                    <li ng-repeat="board in ['Main']"
                        class="list-group-item"
                    >
                       {{board}} board
                    </li>
                </ul>
            </div>

            <!-- PHASE INFO -->
            <div id="phase-info" ng-if="game.turnPhases.length>1" class="gameinfo-slide" ng-class="{out:!game.state.phaseStart}">
                <!-- svg text is the simplest way i found to make a dynamic text size depending on parent div -->
                <svg  height="100%" width="100%" viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
                    <text dy="0.3em">{{game.turnPhases[game.state.currentPhaseIdx].name}} phase</text>
                </svg>
            </div>


            <!-- TURN INFO -->
            <div id="turn-info" class="gameinfo-slide" ng-class="{out:!game.state.turnStart}">
                <!-- svg text is the simplest way i found to make a dynamic text size depending on parent div -->
                <svg class="pull-right" height="100%" width="40%" viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
                    <text ng-style="{fill:game.player().color}" dy="0.3em">{{game.player().name}}</text>
                </svg>
                <svg height="100%" width="40%" viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
                    <text dy="0.3em">turn {{game.state.turn}}</text>
                </svg>
            </div>

            <!-- BOARD -->
            <ri-board
                data="game.board"
                view="{tile:game.tileView}"
                on-click-elem="game.selectBoardElem(elem,type)"
                on-over-elem="game.overBoardElem(elem)">
            </ri-board>

        </div>

        <div class="col-md-2" ng-if="rulit.layout.mode != 1">

            <div class="row">
                 <div class="col-md-12" ng-include="'module/game/partials/turn.html'"/>
            </div>

            <hr/>
            <div class="row">
                <ng-include src="'module/game/partials/actions.html'"/>
            </div>
        </div>

        <!-- PLAYER OVER WINDOW -->
        <div
            id="player-over-window"
            class="container game-menu"
            ng-class="{
                active:game.playerOver,
                win:game.player().win,
                lose:game.player().lose}">
            <svg class="game-menu-text" height="100px" width="100%" viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
                <text dy="0.3em">You {{game.player().win ? 'win' : 'lose'}}!</text>
            </svg>
            <span class="pull-down menu-actions">
                <span ng-click="game.continueGame()" class="icon"><span class="glyphicon glyphicon-chevron-right"></span></span>
            </span>
        </div>

        <!-- GAME OVER WINDOW -->
        <div  id="game-over-window" class="container game-menu" ng-class="{active:game.gameOver}">
            <svg class="game-menu-text" height="100px" width="100%" viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
                <text dy="0.3em">Game Over</text>
            </svg>
            <div id="players-result">
                <div ng-repeat="player in game.state.players.all">
                    <span class="glyphicon glyphicon-{{player.win ? 'star' : 'thumbs-down'}}"></span>
                    <span ng-style="{color:player.color}">{{player.name}}</span>
                </div>
            </div>
            <span class="pull-down menu-actions">
                <span ui-sref="game.menu" class="icon"><span class="glyphicon glyphicon-repeat"></span></span>
            </span>
        </div>

    </div>




<!--     <div class="row" ng-if="rulit.layout.mode != 1">
        <div class="col-md-12" id="debug-box">
            <div class="game-window">
                <p class="">{{game.selectedElem | json}}</p>
            </div>
        </div>
    </div> -->

    <div class="container navbar-fixed-bottom">
        <div class="row" ng-if="rulit.layout.mode != 1">
            <div class="col-md-12" id="message-box">
                <div class="game-window">
                    <p class="text-info">{{game.message || "information"}}</p>
                </div>
            </div>
        </div>
    </div>

</div>



</div>
