<!DOCTYPE html>

<div id="bookcontent">

  <script type="text/javascript">
      $(document).ready(function(){/* activate sidebar */
          $('#sidebar').affix({
            offset: {
              top: 235
            }
          });
      })

      /*
        Minimalist scrollspy
        Activate menu item according to scroll position
      */
      var anchors = $("span.anchor");
      var menuItems = $("#sidebar > li");
      $(window).scroll(function(){
          var fromTop = $(this).scrollTop() + 50;

         var cur = anchors.map(function(){
              if ($(this).offset().top < fromTop) {
                return this;
              }
          });

          // Get the id of the current element
          var id = cur && cur.length ? cur[cur.length-1].id : "";

          // Add/remove active class
          menuItems.removeClass("active").find("a").blur();
          menuItems.find('[ui-sref=".' + id + '"]').parent().addClass("active");

      });
  </script>



  <nav class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ui-sref=".top" class="navbar-brand"><b>{{rulebook.name}}</b></a>
      </div>
      <div class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li ui-sref-active="active">
            <a ui-sref="game.rb"><span  title="rulebook" class="glyphicon glyphicon-cog"></span> Rulebook</a>
          </li>
          <li>
            <a ng-click="rulebook.save()" href=""><span  title="save the rules" class="glyphicon"  ng-class="rulebook.modified ? 'glyphicon-save' : 'glyphicon-saved'" ></span></a>
          </li>
          <li>
            <a ui-sref="game.menu"><span  title="play" class="glyphicon glyphicon-play"></span> Play</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#home"><span  title="games list" class="glyphicon glyphicon-th-list"></span> <b>Rulit</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="header">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 centered">
            <h1>{{rulebook.name}}
              <p class="lead">Rulebook</p>
            </h1>
          </div>
        </div>
    </div><!--/container-->
  </div><!--/masthead-->

  <!--main-->
  <div class="container-fluid">
      <div class="row" id="rulebookWrap">
        <!--left menu-->
        <div class="col-md-2" id="leftCol">
            <ul class="nav nav-pills nav-stacked" id="sidebar" role="navigation">
              <li ><a role="pill" data-toggle="pill" ui-sref=".intro">Introduction</a></li>
              <li ><a role="pill" data-toggle="pill" ui-sref=".material">Material</a></li>
              <li ><a role="pill" data-toggle="pill" ui-sref=".goal">Goal</a></li>
              <li ><a role="pill" data-toggle="pill" ui-sref=".turn">Turn</a></li>
              <li ><a role="pill" data-toggle="pill" ui-sref=".setup">Setup</a></li>
              <li><hr/></li>
              <li ><a role="pill" data-toggle="pill" ui-sref=".strategy">Strategy</a></li>
              <li ><a role="pill" data-toggle="pill" ui-sref=".example">Example</a></li>
              <li ><a role="pill" data-toggle="pill" ui-sref=".qref">Quick reference</a></li>
              <li><hr/></li>
              <li ><a role="pill" data-toggle="pill" ui-sref=".theme">Game window</a></li>
              <li ><a role="pill" data-toggle="pill" ui-sref=".theme">Theme</a></li>
            </ul>
        </div><!--/left menu-->

        <!--right-->
        <div class="col-md-10" id="rightCol">

            <!-- INTRO -->
            <span class="anchor" id="intro"></span>
            <h1>Introduction</h1>
            <div class="row">
                <div class="col-md-10">
                    <textarea class="form-control" ng-model="rulebook.game.introduction" auto-grow="true"></textarea>
                    <hr/>
                    <div class="form-inline" ng-init="game=rulebook.game">
                        <h3 id="players-number-section">
                            <span class="glyphicon glyphicon-user" title="players"></span>
                            <span id="players-number">
                                {{game.minPlayer}} {{game.minPlayer!=game.maxPlayer ? ' - ' + game.maxPlayer : ''}}
                            </span>
                            player{{game.maxPlayer>1 ? 's' : ''}}
                            <span id="players-number-edit">
                              <input type="number" ng-model="game.minPlayer" class="form-control" placeholder="min"></input>
                              to
                              <input type="number" ng-model="game.maxPlayer" class="form-control" placeholder="max"></input>
                            </span>
                        </h3>
                        <h3>
                          <span class="glyphicon glyphicon-time" title="time"></span>
                          <!-- <input type="number" ng-model="rulebook.game.time" class="form-control"></input> min-->
                          &#8734;
                        </h3>
                    </div>
                </div>
                <rb-info layout="col-md-2">
                    Freely write introduction to the game. Background story, key principles and why it is an interesting game.
                </rb-info>
            </div>
            <hr/>

            <!-- MATERIAL -->
            <span class="anchor" id="material"></span>
            <h1>Material</h1>
            <h3>Game area</h3>
            <p>
                <rb-grid type="rulebook.game.gridType" size="rulebook.game.gridSize"></rb-grid>
            </p>
            <h3>Tiles</h3>
            <div class="row">
                <div class="col-md-10">
                    Tiles are put on the game grid to build the board.

                    <rb-token-list tokens='rulebook.game.tiles' add='rulebook.addTile(type)' shape="rulebook.game.gridType" parent="tile" size="3"></rb-token-list>
                </div>
            </div>
            <h3>Tokens</h3>
            <div class="row">
                <div class="col-md-10">
                  The game is composed of
                  <ng-pluralize
                      count="rulebook.game.tokens.all.length"
                      when="{'0': '0 element',
                             'one': '1 type of token',
                             'other': '{} different types of token'}">
                  </ng-pluralize>
                  for each player.

                  <rb-token-list tokens='rulebook.game.tokens.all' add='rulebook.addToken(type)' parent="token" size="6"></rb-token-list>
            </div>
                <rb-info layout="col-md-2">
                    List all elements manipulated during the game.
                    <br/>
                    You can then use these tokens in the rules.
                </rb-info>
            </div>
            <hr/>

            <!-- GOAL -->
            <span class="anchor" id="goal"></span>
            <h1>Goal</h1>
            <div class="row">
                <div class="col-md-10">
                    <rb-goal conditions="rulebook.game.goal" tokens="rulebook.game.tokens.all" edit-mode="true"></rb-goal>
                </div>
                <rb-info layout="col-md-2">
                    Define end conditions and how a player can win or lose.
                </rb-info>
            </div>
            <hr/>

            <!-- TURN -->
            <span class="anchor" id="turn"></span>
            <h1>Turn</h1>
            <div class="row">
                <div class="col-md-10">
                    <div ng-show="game.updateActivated">
                      <h2>Update</h2>
                      <ng-include src="'module/irulebook/partials/update.html'"></ng-include>
                    </div>
                    <span ng-hide="game.updateActivated" class="control-add" ng-click="game.updateActivated=true">Activate update...</span>

                    <h2>Phases</h2>
                    <rb-turn phases="rulebook.game.turnPhases" tokens="rulebook.game.tokens.all"></rb-turn>
                </div>
                <rb-info layout="col-md-2">
                    Organize player turn and define allowed actions for each phase.
                </rb-info>
            </div>

            <!-- SETUP -->
            <span class="anchor" id="setup"></span>
            <h1>Setup</h1>
            <div class="row">
                <div class="col-md-10">
                    <h3>Board setup</h3>
                    Initially, the board is empty.

                    <h3>Player's resources</h3>
                    <ul class="list-group" >
                        <li ng-repeat="prop in rulebook.game.init.playerProps"
                            class="list-group-item no-border show-on-hover"
                            >
                            <div class="row">
                               <ri-remove-button data="rulebook.game.init.playerProps" index="$index"></ri-remove-button>
                                <div class="col-md-3">
                                    <input ng-model="prop.name" type="text" class="form-control input-sm" placeholder="property name"></input>
                                </div>
                                <div class="col-md-3">
                                    <input ng-model="prop.value" class="form-control input-sm" type="text" placeholder="default value"></input>
                                </div>
                             </div>
                        </li>
                        <li class="list-group-item no-border">
                            <span class="control-add" ng-click="rulebook.game.init.playerProps.push({})">Add a property...</span>
                        </li>
                    </ul>
                    <!-- <h3>Player resources</h3>
                    <div ng-repeat="(prop, value) in game.player.properties">
                        <div >
                            <svg
                                width="30" height="30"
                                viewBox="-50 -50 100 100">
                                <g >
                                    <ri-token
                                        class="ri-token"
                                        data='{}'
                                        view="game.propertyView[prop]">
                                    </ri-token>
                                </g>
                            </svg>

                            {{prop}}
                            {{value}}

                        </div>
                    </div>

                    <h3>Reserve</h3> -->
                </div>
                <rb-info layout="col-md-2">
                    Describe initial configuration.
                </rb-info>
            </div>

            <!-- STRATEGY -->
            <span class="anchor" id="strategy"></span>
            <h1>Strategy</h1>
            <div class="row">
                <div class="col-md-10">
                </div>
                <rb-info layout="col-md-2">
                    Tips and advices.
                </rb-info>
            </div>

            <!-- EXAMPLE -->
            <span class="anchor" id="example"></span>
            <h1>Example</h1>
            <div class="row">
                <div class="col-md-10">
                </div>
                <rb-info layout="col-md-2">
                    Commented example scenario and situations.
                </rb-info>
            </div>

            <!-- QUICK REFERENCE -->
            <span class="anchor" id="qref"></span>
            <h1>Quick reference</h1>
            <div class="row">
                <div class="col-md-10">

                </div>
            </div>

            <!-- THEME -->
            <span class="anchor" id="theme"></span>
            <h1>Game window</h1>
            <div class="row">
                <div class="col-md-10">

                    <div class="row">

                      <!-- GAME WINDOW -->
                      <div class="col-md-5">
                        <h3>Windows disposition</h3>
                        <div id="rb-game-view">
                          <div class="row" style="height:200px; border:3px solid">
                            <div class="col-md-2 master-col" style="height:100%">
                              <rb-game-window  label="Player" theme="rulebook.game.theme" height="30%">
                              </rb-game-window>
                              <rb-game-window  label="Selection" theme="rulebook.game.theme" height="40%">
                              </rb-game-window>
                            </div>
                            <div class="col-md-8  master-col" style="height:100%">
                              <rb-game-window label="Navigation" theme="rulebook.game.theme" height="10%">
                              </rb-game-window>

                              <rb-game-window  label="Board" theme="rulebook.game.theme" height="90%">
                              </rb-game-window>

                            </div>
                            <div class="col-md-2  master-col" style="height:100%">
                              <rb-game-window label="Turn" theme="rulebook.game.theme" height="20%">
                              </rb-game-window>
                              <rb-game-window label="Actions" theme="rulebook.game.theme" height="60%">
                              </rb-game-window>
                            </div>
                          </div>
                        </div> /<!-- </rb-game-view> -->
                      </div>  <!-- GAME WINDOW -->

                      <!-- THEME -->
                      <div class="col-md-4 col-md-offset-2">
                        <h3>Colors</h3>
                        <table class="table">
                            <tr>
                                <td><label>Background</label></td>
                                <td>
                                    <input ng-model="rulebook.game.theme.background" type="color"/>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Text color</label></td>
                                <td>
                                    <!-- <input ng-model="rulebook.game.theme.color" type="color"/> -->
                                </td>
                            </tr>
                        </table>
                      </div> <!-- /THEME -->

                    </div>
                </div>
                <rb-info layout="col-md-2">
                    Choose game style and visual appearance.
                </rb-info>
            </div>

            <div class="row">
              <div class="col-md-10 ">
                <h1>Have fun!</h1>
              </div>
            </div>

          </div><!--/right-->
        </div><!--/row-->
  </div><!--/container-->

</div>
