<ul class="list-group form-inline" style="margin-bottom:0">
    <li ng-repeat="elem in data"
        class="list-group-item no-border"
        >
        <div class="row">
            <div class="col-md-5">
                <ri-remove-button data="data" index="$index"></ri-remove-button>
                <rb-token-select model="elem.type" tokens="tokens"></rb-token-select>
                x <input ng-model="elem.quantity" class="form-control input-sm" size="5" type="text" placeholder="quantity"></input>
                <label ng-if="type=='token'" ng-style="{color:elem.perPlayer?'auto':'#CCC', 'font-weight':400}">
                    <input ng-model="elem.perPlayer" class="form-control" type="checkbox"></input>
                    for each player
                </label>
            </div>
        </div>
    </li>
    <li class="list-group-item no-border">
        <span class="control-add" ng-click="data.push({})">Add {{type}}s...</span>
    </li>
</ul>