<div>
    <div class="row" ng-controller="TokenEditModalCtrl">
        <div class="col-md-6 show-on-hover" ng-repeat="token in tokens.all">

            <ri-remove-button ng-click="tokens.all.splice($index,1)"></ri-remove-button>

            <div class="pull-left clickable" ng-click="openModal(token)">
                <div class="media-object">
                    <svg width="80" height="80" viewBox="-50 -50 100 100">
                        <g >
                            <ri-token
                                class="ri-token"
                                data="token"
                                view="token.view">
                            </ri-token>
                        </g>
                    </svg>
                </div>
            </div>

            <div class="media-body">
                <h3 class='text-capitalize'>
                    <input ng-model="token.type" type="text" class="form-control" placeholder="token type"></input>
                </h3>
                <ul class="list-group" >
                    <li ng-repeat="prop in token.properties"
                        class="list-group-item"
                        >
                        <div class="row">
                            <div class="col-xs-6">
                                <input ng-model="prop.name" type="text" class="form-control input-sm" placeholder="property name"></input>
                            </div>
                            <div class="col-xs-6">
                                <input ng-model="prop.value" class="form-control input-sm" type="text" placeholder="default value"></input>
                            </div>
                         </div>
                    </li>
                </ul>
                <span class="control-add" ng-click="token.properties.push({})">Add a property...</span>
            </div>

        </div> <!-- /token div -->
    </div>

    <br/>
    <div class="row">
        <div class="col-md-12">
            <span class="control-add" ng-click="add({type:model.type})">Add an token...</span>
        </div>
    </div>

</div>