<div>
    <div class="row" ng-controller="TokenEditModalCtrl">
        <div class="rb-token col-md-{{size}} show-on-hover" ng-repeat="token in tokens">

            <ri-remove-button ng-click="tokens.splice($index,1)"></ri-remove-button>

            <div ng-if="!shape" class="pull-left clickable" ng-click="openModal(token)">
                <div class="media-object">
                    <svg width="80" height="80" viewBox="-50 -50 100 100">
                        <g >
                            <ri-token
                                class="ri-token"
                                data="token"
                                view="token.view">
                            </ri-token>
                        </g>
                    </svg>
                </div>
            </div>

            <!-- Fixed shape
                Can not edit the token view
                Can only edit the color of the shape
             -->
            <div ng-if="shape" class="pull-left">
                <!--
                    Make the token view act like a color picker
                    Using an hidden color input inside the same label tag than the view
                 -->
                <label>
                    <input class="hidden-input" type="color" ng-model="token.color"></input>
                    <div class="media-object clickable">
                        <svg width="80" height="80" viewBox="-50 -50 100 100">
                            <g >
                                <ri-token
                                    class="ri-token"
                                    data="token"
                                    view="{layers:[{size:1, width:1,shape:shape,fill:{on:true,bind:'color',color:token.color},stroke:{on:true,bind:'color',color:'#444444'}}]}">
                                </ri-token>
                            </g>
                        </svg>
                    </div>
                </label>
            </div>

            <div class="media-body">
                <h3 class='text-capitalize'>
                    <input ng-model="token.type" type="text" class="form-control" placeholder="{{parent}} type"></input>
                </h3>

                <ul class="list-group" ng-if="token.properties!=undefined">
                    <li ng-repeat="prop in token.properties"
                        class="list-group-item no-border"
                        >
                        <div class="row">
                            <div class="col-xs-6">
                                <input ng-model="prop.name" type="text" class="form-control input-sm" placeholder="property name"></input>
                            </div>
                            <div class="col-xs-6">
                                <input ng-model="prop.value" class="form-control input-sm" type="text" placeholder="default value"></input>
                            </div>
                         </div>
                    </li>
                    <li class="list-group-item no-border">
                        <span class="control-add" ng-click="token.properties.push({})">Add a property...</span>
                    </li>
                </ul>
            </div>

        </div> <!-- /token div -->
    </div>

    <br/>
    <div class="row">
        <div class="col-md-12">
            <span class="control-add" ng-click="add({type:'type'})">Add a {{parent}}...</span>
        </div>
    </div>

</div>