<div>
    Each of player turns consists of {{phases.length}} phases, in this order:
    <div class="row">
        <div class="col-md-4">
            <ol>
                <li ng-repeat="phase in phases" class='text-capitalize'>
                    <input
                        ng-model="phase.name"
                        type="text"
                        class="form-control"
                        placeholder="phase name">
                    </input>
                </li>
            </ol>
            <span class="control-add" ng-click="phases.push({'actions':[]})">Add a phase...</span>
        </div>
    </div>

    <div ng-repeat="phase in phases">

        <h3 class='text-capitalize form-inline'>
            Phase {{$index + 1}}: {{phase.name}}
        </h3>

        <div ng-if="phase.edit">
            <span class='form-inline'>
                Player
                <select ng-model="phase.type" class="form-control" ng-options="type for type in ['can', 'must']"></select>
                do following actions :
            </span>
            <ul class="" >
                <li ng-repeat="action in phase.actions"
                    class="action"
                    >
                    {{action.name}}
                </li>
                <li class="">
                    <select ng-model="model.action" class="form-control" id="actionType" ng-options="action.name for action in game.actions.all"></select>
                    <button ng-click="phase.actions.push(model.action)">+</button>
                </li>
            </ul>
        </div>

        <div ng-if="!phase.edit">
            Player <mark>can</mark> do <mark>all</mark> of the following actions <mark>as many times he wants</mark> :
            <p>
                <ul>
                    <li ng-repeat="action in phase.actions">
                        <input
                            ng-model="action.name"
                            type="text"
                            class="form-control"
                            placeholder="action name">
                        </input>
                    </li>
                </ul>
                <span class="control-add" ng-click="phase.actions.push({})">Add an action...</span>
            </p>
        </div>

        <!-- <h4>Actions details</h4> -->
        <div ng-repeat="action in phase.actions">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="panel-title">{{action.name}}</span><b class="pull-right">Action</b>
                </div>
                <div class="panel-body">
                    <ri-action-edit action="action" tokens="tokens"></ri-action-edit>
                </div>
            </div>
        </div>

    </div>


    <h4>End phase conditions</h4>
    <rb-todo type="feature">Automatically end the phase when some defined condition are met</rb-todo>
</div>