<div>

    <div class="col-md-{{6 + rulit.layout.mode}}">
        <ri-action-edit action="game.actions.current" tokens="game.tokens.all"></ri-action-edit>
    </div>

    <div class="col-md-{{6 - rulit.layout.mode}}">
        <ul class="list-group" >
            <li ng-repeat="action in game.actions.all"
                ng-click="game.selectAction(action)"
                class="action list-group-item"
                ng-class="{active:action.selected}"
                >
                {{action.name}}
            </li>
            <li class="list-group-item">
                <button ng-click="game.actions.all.push({type:'none', name:'do something'})">+</button>
            </li>
        </ul>
    </div>

</div>