<div>
    <div  ng-controller="TokenEditModalCtrl">
        <h3>Tokens &#9814;</h3>

        <ul class="media-list list-group">
            <li class="list-group-item media" ng-repeat="token in game.tokens.all" ng-mouseover="tok">
                <div class="pull-left clickable" ng-click="openModal(token)">
                    <div class="media-object">
                        <svg width="80" height="80" viewBox="-50 -50 100 100">
                            <g >
                                <ri-token
                                    class="ri-token"
                                    data="token"
                                    view="token.view">
                                </ri-token>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="media-body">
                    <h3 class='text-capitalize' ng-class='{editable:!token.edit}'>{{token.type}}
                        <button type="button" class="btn btn-default edit-button" ng-click="token.edit=!token.edit" >
                            <span class="glyphicon glyphicon-{{token.edit ? 'ok' : 'pencil'}}"></span>
                        </button>
                    </h3>

                    <div ng-if="token.edit">
                        <h4 class="media-heading">
                            <input ng-model="token.type" type="text" class="form-control" placeholder="token type"></input>
                        </h4>
                        <ul class="list-group form-inline" >
                            <li ng-repeat="(prop,value) in token.properties"
                                class="action list-group-item"
                                >
                                {{prop}} :  <input ng-model="token.properties[prop]" class="form-control" type="text" placeholder="value"></input>
                            </li>
                            <li class="list-group-item">

                                <button type="button" class="btn btn-default" ng-click="token.properties[model.prop]=1" >
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <input ng-model="model.prop" type="text" class="form-control" placeholder="property"></input>
                            </li>
                        </ul>
                    </div>

                    <div ng-if="!token.edit">
                         <ul class="list-group" >
                            <li ng-repeat="(prop,value) in token.properties"
                                class="action list-group-item"
                                >
                                <label>{{prop}}</label> <span class="pull-right">{{value}}</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </li>
            <li class="list-group-item media">
                <button type="button" class="btn btn-default" ng-click="game.addToken(model.type)" >
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <!-- <input ng-model="model.type" type="text" placeholder="new token type"></input> -->
            </li>
        </ul>

        <rb-todo type="feature">token tags (and hierachy)</rb-todo>

    </div>

    <div>
        <h3>Markers</h3>
    </div >

    <div>
        <h3>Boards</h3>
        <h2>Main board</h2>
        <div class="form-inline">
            <select ng-model="game.gridType" class="form-control" ng-options="type for type in ['square', 'hexa']"></select>
            <input ng-model="game.gridSize" class="form-control" type="number"></input>
            <button class="form-control" ng-click="game.reloadGrid(game.gridType, game.gridSize)">Reload</button>
        </div>
    </div>
</div>