<div ng-init="operators={
                'eq'   : 'exactly',
                'gteq' : 'at least',
                'lteq' : 'at most',
                'gt'   : 'more than',
                'lt'   : 'less than'
            }">
    <div ng-if="editMode">
        Player has
        <select
            ng-model="cond.operator"
            class="form-control"
            ng-options="op as label for (op,label) in operators">
        </select>
        <input type="number" ng-model="cond.quantity" class="form-control small-input" placeholder="a number of"/>
        <!-- <ri-input-token token='cond.token' types='tokenTypes'></ri-input-token> -->
        <select ng-model="cond.token.type" ng-options="token.type as token.type for token in tokens" class="form-control" placeholder="token"></select>

        aligned on the board
    </div>

    <div ng-if="!editMode">
        Players has {{operators[cond.operator]}} {{cond.quantity}} {{cond.token.type}} aligned on the board.
    </div>

</div>